footer {
    margin-top: auto;
    background: #F8F9FA;
    border-top:  1px solid #DCE5E2;
    font-size: 18px;
}

.footer__info {
    display: grid;
    gap: 15px;
    grid-template-columns: 394px repeat(4, 1fr);
    justify-content: space-between;
    padding: 30px 0 80px 0;
    font-family: var(--font-main);
}


.footer__logo{
    margin-bottom: 18px;
}


.footer__logo-text {
    padding-right: 25%;
    font-size: 16px;
}
.footer__col-list {
    display: flex;
    flex-direction: column;
}

.footer__col-title {
    font-weight: 500;
    font-size: 18px;
    font-family: var(--font-main);
    margin-bottom: 20px;
    line-height: 125%;
}
.footer__col-item {
    margin-bottom: 15px;
}

.footer__col-link {
    font-size: 17px;
}
.footer__credits{
    font-family: var(--font-second);
    font-weight: 500;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-top:  1px solid #DCE5E2;
}
.footer__credits-item{
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
}
.footer__credits-item a{
    font-size: 18px;
    font-family: var(--font-main);
}