body{
    font-size: 40px;
}
*{
    box-sizing: border-box;
    }
.main{
    background: #d7d7d7;
    max-width: none;
    max-height: 1000px;
    min-width: 800px;
    min-height: 800px;
    box-sizing: border-box;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px ;
    overflow: auto;
}

.sub {
    background: #bcae72;
    width: 560px;
    height: 450px;
    padding: 40px  60px;
    margin: 30px 10px;
    box-sizing: border-box;
    box-shadow: inset 0 0 20px;
    border-radius: 40px;
    display: inline-block;
}
p{
    font-size: 30px;
}

